#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  font:
    1.2em Helvetica,
    arial,
    sans-serif;
}

.wrapper > * {
  border: 2px solid #f08c00;
  background-color: #ffec99;
  border-radius: 5px;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

.r6c11-r6c11-r7c11-r7c11 {
  grid-area: left
}


.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}

.r0c0 {
  grid-area: r0c0
}
.r0c0 {
  grid-area: r0c0
}
.r0c1 {
  grid-area: r0c1
}
.r0c2 {
  grid-area: r0c2
}
.r0c3 {
  grid-area: r0c3
}
.r0c4 {
  grid-area: r0c4
}
.r0c5 {
  grid-area: r0c5
}
.r0c6{
  grid-area: r0c6
}
.r1c0 {
  grid-area: r1c0
}
.r1c1 {
  grid-area: r1c1
}
.r1c2 {
  grid-area: r1c2
}
.r1c3 {
  grid-area: r1c3
}

.r2c0 {
  grid-area: r2c0
}
.r2c1 {
  grid-area: r2c1
}
.r2c2 {
  grid-area: r2c2
}
.r2c3 {
  grid-area: r2c3
}


@media (min-width: 200px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
      "left   left r9c0"
    ;
  }
  nav ul {
    flex-direction: column;
  }
}


.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}